.TitleContainer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    
}

.TitleWrapper {
    width: 600px;
    border: 10px solid #f7f0c5;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f0c5;
    
} 

.HeaderText {
    font-weight: 500;
    font-size: 40px;
    color: #333;
}

